p {
    font-size: xx-large;
}

button{
    display: flex;
    height: 200px;
    width: 200px;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border-radius: 16px;
    background-color: aqua;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

}